# useDynLib( extRemes, .registration = TRUE )

# Export all names
exportPattern(".")
# export("gevspatial")
# export("gevspatial_latent")


# Import all packages listed as Imports or Depends

importFrom("graphics", "abline", "hist", "image", "legend", "lines", "mtext", "par", "plot", "points", "title")
importFrom("stats", "aggregate", "approxfun", "as.ts", "bw.SJ", "cov", "dbeta", "density", "dist", "dnorm", "qexp",
    "formula", "integrate", "lm", "model.frame", "model.matrix", "model.response", "na.fail", "na.omit", "nlminb", 
    "optim", "optimHess", "pchisq", "pnorm", "ppoints", "predict", "qchisq", "qnorm", "quantile", "rexp", "rnorm",
    "rpois", "runif", "spline", "var", "ecdf")
importFrom("methods", "is" )

import(
  Lmoments, distillery
)

S3method(blockmaxxer, data.frame)
S3method(blockmaxxer, fevd)
S3method(blockmaxxer, matrix) 
S3method(blockmaxxer, vector)
S3method(ci, extremalindex)
S3method(ci, fevd)
S3method(ci, fevd.bayesian)
S3method(ci, fevd.lmoments)
S3method(ci, fevd.mle)
S3method(ci, rl.ns.fevd.bayesian)
S3method(ci, rl.ns.fevd.mle)
S3method(datagrabber, declustered)
S3method(datagrabber, extremalindex)
S3method(datagrabber, fevd)
S3method(decluster, data.frame)
S3method(decluster, default)
S3method(decluster, intervals)
S3method(decluster, runs)
S3method(distill, fevd)
S3method(distill, fevd.bayesian)
S3method(distill, fevd.lmoments)
S3method(distill, fevd.mle)
S3method(findpars, fevd)
S3method(findpars, fevd.bayesian)
S3method(findpars, fevd.lmoments)
S3method(findpars, fevd.mle)
S3method(fpois, data.frame)
S3method(fpois, default)
S3method(fpois, list)
S3method(fpois, matrix)
S3method(initializer, lmoments)
S3method(initializer, mle)
S3method(initializer, moms)
S3method(pextRemes, fevd)
S3method(pextRemes, fevd.bayesian)
S3method(pextRemes, fevd.lmoments)
S3method(pextRemes, fevd.mle)
S3method(plot, atdf)
S3method(plot, declustered)
S3method(plot, ee)
S3method(plot, fevd)
S3method(plot, fevd.bayesian)
S3method(plot, fevd.lmoments)
S3method(plot, fevd.mle)
S3method(plot, grlevdTracer)
S3method(plot, qqplot)
S3method(plot, xtibbed)
S3method(postmode, fevd)
S3method(print, declustered)
S3method(print, extremalindex)
S3method(print, fevd)
S3method(print, return.level)
S3method(print, xtibbed)
S3method(return.level, fevd)
S3method(return.level, fevd.bayesian)
S3method(return.level, fevd.lmoments)
S3method(return.level, fevd.mle)
S3method(return.level, ns.fevd.bayesian)
S3method(return.level, ns.fevd.mle)
S3method(rextRemes, fevd)
S3method(rextRemes, fevd.bayesian)
S3method(rextRemes, fevd.lmoments)
S3method(rextRemes, fevd.mle)
S3method(setup.design, default)
S3method(setup.design, fevd)
S3method(strip, fevd)
S3method(strip, fevd.bayesian)
S3method(strip, fevd.lmoments)
S3method(strip, fevd.mle)
S3method(summary, fevd)
S3method(summary, fevd.bayesian)
S3method(summary, fevd.lmoments)
S3method(summary, fevd.mle)
S3method(summary, qqplot)
S3method(trans, fevd)
